.padding-section {
  padding: 10% 0;
}

.arrowLeftBannerHome {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  left: -15%;
  width: 15%;
}

.arrowLeftBannerHome:focus {
  outline: none;
}

.arrowRightBannerHome {
  border: none;
  background: transparent;
  position: absolute;
  top: 60px;
  left: -14%;
  width: 15%;
}

.arrowRightBannerHome:focus {
  outline: none;
}

.arrowPrev {
  position: absolute;
  left: -10%;
  top: 30%;
  -webkit-transform: translate(30%, -10%);
          transform: translate(30%, -10%);
  background: transparent;
  border: none;
}

.arrowPrev:focus {
  outline: none;
}

.arrowNext {
  position: absolute;
  right: -5%;
  top: 30%;
  -webkit-transform: translate(30%, -5%);
          transform: translate(30%, -5%);
  background: transparent;
  border: none;
}

.arrowNext:focus {
  outline: none;
}

.btn {
  -webkit-transition: .5s;
  transition: .5s;
  background-size: 200% auto;
}

.btn.btn-primary {
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffad00), color-stop(51%, #ff7300), to(#ffad00));
  background-image: linear-gradient(to right, #ffad00 0%, #ff7300 51%, #ffad00 100%);
  border: none;
  padding: 10.5px 30px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.btn.btn-primary:hover {
  border-radius: 10px;
  background-position: right center;
  border: none;
  padding: 10.5px 30px;
  -webkit-transition: ease-in-out .5;
  transition: ease-in-out .5;
}

.btn.btn-secondary {
  border-radius: 0;
  background: transparent;
  border: 1px solid #FEAC00;
  padding: 10.5px 30px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.btn.btn-secondary:hover {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#E96B00), to(#FEAC00));
  background-image: linear-gradient(90deg, #E96B00 0%, #FEAC00 100%);
  border: 1px solid #FEAC00;
  padding: 10.5px 30px;
  -webkit-transition: background-image ease-in-out .5;
  transition: background-image ease-in-out .5;
}

.section-title h1 {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #67BB6A;
  margin-bottom: 90px;
}

.paragraph p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #7F9280;
}

#banner {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
}

#banner .banner-hero-home .main-slider-banner-home {
  position: relative;
  height: 100vh;
}

#banner .banner-hero-home .main-slider-banner-home .main-slider-home {
  height: 100vh;
}

#banner .banner-hero-home .main-slider-banner-home .main-slider-home .content-banner {
  height: 100%;
}

#banner .banner-hero-home .main-slider-banner-home .main-slider-home .content-banner::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: .4;
}

#banner .banner-hero-home .main-slider-banner-home .btn-play-video {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#banner .banner-hero-home .main-slider-banner-home .hero-title-banner {
  position: absolute;
  z-index: 2;
}

#banner .banner-hero-home .main-slider-banner-home .hero-title-banner h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 60px;
}

#banner .banner-hero-home .thumbnail-slider-banner-home {
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 25%;
  height: 50px;
}

#banner .banner-hero-home .thumbnail-slider-banner-home .thumbnail-slider-home {
  width: 100% !important;
  padding: 5px;
}

#banner .banner-hero-home .thumbnail-slider-banner-home .thumbnail-slider-home h1 {
  color: white;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  opacity: .2;
  position: relative;
}

header nav {
  background: transparent !important;
  height: 70px;
}

header nav.shadow {
  background-color: #67BB6A !important;
}

header nav .navbar-brand .brand-logo {
  max-width: 50px;
}

header nav .navbar-brand .brand-logo img {
  position: relative;
  margin-top: 40%;
}

header nav .navbar-brand .brand-logo::before {
  content: '';
  background-color: white;
  width: 70px;
  height: 80px;
  position: absolute;
  z-index: 0;
  top: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

header nav #navbarNav ul .link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

header nav #navbarNav ul .link-menu .nav-item {
  margin: 0 10px;
}

header nav #navbarNav ul .link-menu .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header nav #navbarNav ul .link-menu .nav-item .nav-link:hover {
  color: #CACACA;
}

header nav #navbarNav ul .button-navbar .btn-primary {
  margin-right: 10px;
}

@media (max-width: 375px) {
  /*NEWS*/
  #newscontent img {
    max-width: 300px !important;
  }
  #newscontent .card-block {
    width: 300px !important;
  }
  #newscontent .col-md-2 {
    margin-top: 50px;
  }
  #newscontent .more a {
    font-weight: 600;
    text-decoration: none;
    color: #67BB6A;
    position: absolute;
    bottom: 0;
    right: -85px;
  }
}

@media (max-width: 768px) {
  /*SIGN UP*/
  #signup .right #title {
    font-size: 35px !important;
  }
  #signup .right .form label {
    font-size: 16px !important;
  }
  #signup button {
    border-style: none;
    border-radius: 30px;
    width: 9.5em !important;
    background: #e96b00;
    background: -webkit-gradient(linear, left top, right top, from(#e96b00), to(#feac00));
    background: linear-gradient(90deg, #e96b00 0%, #feac00 100%);
  }
  /*NEWS*/
  #newscontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #newscontent .card-title {
    margin-top: 10px;
  }
  #newscontent .card-text {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 40px;
  }
  #newscontent .details {
    font-size: 10px;
    font-weight: bold;
    color: #67BB6A;
  }
  #newscontent .more a {
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #67BB6A;
  }
}

#about-us .image-about-column img {
  position: relative;
}

#about-us .image-about-column::before {
  content: '';
  border: 3px solid #67BB6A;
  position: absolute;
  width: 85%;
  height: 95%;
  top: -10%;
}

#about-us .desc-about-us {
  padding-left: 30px;
}

#our-product {
  background: url("../img/component/bg-section-product.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

#our-product .product-content {
  border: 8px solid white;
  width: 90%;
}

#our-product .padding-section {
  padding: 5% 0;
}

#our-product .section-title h1 {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

#our-product .product-cat .card-product {
  padding: 10px 20px;
  height: 310px;
}

#our-product .product-cat .card-product .product {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  cursor: pointer;
  margin-left: -20px;
  bottom: 0;
  z-index: 0;
}

#our-product .product-cat .card-product .product:hover {
  background-color: #67BB6A;
  opacity: .8;
}

#our-product .product-cat .card-product h4 {
  margin-top: auto;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

#our-product .product-cat .card-product p {
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 1;
}

#our-product .button-product-home {
  margin-top: 50px;
}

#quotes .quotes-overlay {
  background-color: #86C17B;
  opacity: .6;
}

#quotes .quotes-overlay .quotes-title {
  padding: 0 50px;
}

#quotes .quotes-overlay .quotes-title h1 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-style: italic;
  color: white;
}

#founders .lineatas {
  background: url("../img/vector/line.svg");
  position: relative;
  top: 0;
  left: 110px;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 110%;
}

#founders .linebawah {
  background: url("../img/vector/vector-2.svg");
  position: relative;
  top: 0;
  left: -110px;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: -20%;
}

#testimoni {
  background-color: #86C17B;
}

#testimoni .section-title h1 {
  color: white;
}

#testimoni .content-slider-testimoni .slider-testimoni .content-testimoni h1 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: #FFE696;
  font-weight: bold;
  line-height: 30px;
}

#testimoni .content-slider-testimoni .slider-testimoni .content-testimoni h4 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  line-height: 23px;
  font-style: italic;
}

#testimoni .content-slider-testimoni .slider-testimoni .content-testimoni p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  line-height: 20px;
  font-weight: 300;
}

#news-home {
  position: relative;
}

#news-home .card-news {
  border: none;
}

#news-home .card-news .content-news-image {
  width: 100%;
  height: 352px;
  background-color: black;
}

#news-home .card-news .content-news-desc {
  padding: 20px 0;
}

#news-home .card-news .content-news-desc h1 {
  font-family: "Lato", sans-serif;
  color: #57745B;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

#news-home .card-news .content-news-desc p {
  font-family: "Montserrat", sans-serif;
  color: #57745B;
  font-size: 15px;
  line-height: 25px;
}

#news-home .card-news .content-news-desc .news-footer .news-date {
  font-family: "Montserrat", sans-serif;
  color: #57745B;
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
}

#news-home .card-news .content-news-desc .news-footer .news-date span {
  font-weight: bold;
}

#news-home .card-news .content-news-desc .news-footer .news-more a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #57745B;
}

#news-home .button-news-home {
  margin-top: 50px;
}

#news-home .vektor-news {
  background: url("../img/vector/vector-3.svg");
  position: absolute;
  bottom: 0;
  left: -138px;
  height: 185px;
  width: 100%;
  background-repeat: no-repeat;
}

#section-footer {
  padding: 50px 0;
  background-color: #67BB6A;
}

#section-footer .subscribe {
  margin-bottom: 30px;
}

#section-footer .subscribe .title-subscribe h1 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#section-footer .subscribe .input-email-subs input {
  border: 1px solid white;
  background: transparent;
  border-radius: 0;
  color: white !important;
  padding: 20.5px 30px;
}

#section-footer .subscribe .input-email-subs input:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#section-footer .purchase-footer .row {
  padding-left: 130px;
  padding-right: 130px;
}

#section-footer .link-footer .footer-content h4 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 30px;
}

#section-footer .link-footer .footer-content.address-footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  line-height: 20px;
}

#section-footer .link-footer .footer-content.menu-footer {
  text-align: right;
}

#section-footer .link-footer .footer-content.menu-footer .link-cs a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  line-height: 25px;
}

footer {
  background-color: #57745B;
  padding: 15px 80px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

footer .social-media {
  text-align: right;
}

footer .social-media a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* SIGNUP */
body #signup {
  color: #ffffff;
  background-color: #7F9280;
}

body #signup .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup .left {
  background-image: url(../img/background/bg-sign-up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#signup .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background-color: #7F9280;
}

#signup .right #title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

#signup .right .form label {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#signup .right .tgl label {
  visibility: hidden;
}

form .form-control {
  border-radius: 30px;
  border-color: #FEAC00;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #FEAC00 !important;
}

#signup button {
  float: right;
  margin-top: 20px;
  border-style: none;
  border-radius: 30px;
  width: 10em;
  background: #e96b00;
  background: -webkit-gradient(linear, left top, right top, from(#e96b00), to(#feac00));
  background: linear-gradient(90deg, #e96b00 0%, #feac00 100%);
}

/* NEWS */
#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/background/bg-blog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

#banner .bgoverlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
}

#banner .overlay {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  z-index: 4;
}

#newscontent {
  margin-top: 50px;
  margin-bottom: 50px;
}

#newscontent img {
  max-width: 240px;
}

#newscontent .col-md-10 {
  padding-right: 100px;
}

#newscontent .col-md-10 .card {
  margin-bottom: 20px;
}

#newscontent .col-md-10 .card-title {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #67BB6A;
}

#newscontent .col-md-10 .card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#newscontent .details {
  position: absolute;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 13px;
}

#newscontent .details .category {
  font-weight: bold;
  color: #67BB6A;
}

#newscontent .more {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
}

#newscontent .more a {
  font-weight: 600;
  text-decoration: none;
  color: #67BB6A;
}

.col-md-2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#newscontent button {
  border-radius: 0px;
  width: 10em;
  background: #e96b00;
  background: -webkit-gradient(linear, left top, right top, from(#e96b00), to(#feac00));
  background: linear-gradient(90deg, #e96b00 0%, #feac00 100%);
}

.col-md-2 h4 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #67BB6A;
}

.col-md-2 .titlenews a {
  text-decoration: none !important;
  color: black !important;
}

.archive .dropdown {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.archive .dropdown .dropdown-menu {
  border: none;
  margin-left: 10px;
  font-size: 13px;
}

.archive a {
  text-decoration: none !important;
  color: black !important;
}
/*# sourceMappingURL=style.css.map */