// _base.scss
// Buat styling button,dll

#about {
    img {
        position: relative;
        // top: 0%;
        // left: 4%;
        // opacity: .1;
    }

    &::before {
        content: '';
        display: block;
        width: 382px;
        height: 250px;
        position: absolute;
        top: 120%;
        left: 7.8%;
        border: 3px solid #67bb6a;
    }

    p {
        padding-top: 90px;
    }
}