// _base.scss
// Buat styling button,dll

.padding-section {
    padding: 10% 0;
}

.arrowLeftBannerHome {
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    left: -15%;
    width: 15%;
}

.arrowRightBannerHome {
    border: none;
    background: transparent;
    position: absolute;
    top: 60px;
    left: -14%;
    width: 15%;
}

.arrowPrev {
    position: absolute;
    left: -10%;
    top: 30%;
    transform: translate(30%, -10%);
    background: transparent;
    border: none;
}

.arrowNext {
    position: absolute;
    right: -5%;
    top: 30%;
    transform: translate(30%, -5%);
    background: transparent;
    border: none;
}

.btn {
    &.btn-primary {
        border-radius: 0;
        background: linear-gradient(90deg, $secondary-color 0%, $secondary-color-2 100%);
        border: none;
        padding: 10.5px 30px;
        font-size: 16px;
        font-family: $font-montserrat;

        &:hover {
            border-radius: 10px;
            background: linear-gradient(90deg, $secondary-color-2 0%, $secondary-color 100%);
            border: none;
            padding: 10.5px 30px;
            transition: ease-in-out .5;
        }
    }

    &.btn-secondary {
        border-radius: 0;
        background: transparent;
        border: 1px solid $secondary-color;
        padding: 10.5px 30px;
        font-size: 16px;
        font-family: $font-montserrat;

        &:hover {
            border-radius: 0;
            background: linear-gradient(90deg, $secondary-color-2 0%, $secondary-color 100%);
            border: 1px solid $secondary-color;
            padding: 10.5px 30px;
            transition: ease-in-out .5;
        }
    }
}

.section-title {
    h1 {
        font-family: $font-lato;
        font-size: 42px;
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 90px;
    }
}

.paragraph {
    p {
        font-family: $font-montserrat;
        font-size: 18px;
        line-height: 23px;
        color: $primary-color-3;
    }
}