// _navigations.scss
// Buat styling navigations semua disini

header {
    nav {
        background: transparent !important;
        height: 70px;

        &.shadow {
            background-color: $primary-color !important;
        }

        .navbar-brand {
            .brand-logo {
                max-width: 50px;

                img {
                    position: relative;
                    margin-top: 40%;
                }

                &::before {
                    content: '';
                    background-color: white;
                    width: 70px;
                    height: 80px;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    border-bottom-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                }
            }
        }

        #navbarNav {
            ul {
                .link-menu {
                    display: flex;
                    align-items: center;
                    margin-right: 30px;

                    .nav-item {
                        margin: 0 10px;

                        .nav-link {
                            font-family: $font-montserrat;
                            font-size: 16px;
                            color: white;
                            text-decoration: none;

                            &:hover {
                                color: #CACACA;
                            }
                        }
                    }
                }

                .button-navbar {
                    .btn-primary {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}