// _variables.scss
// Buat warna, font size, component typography

$font-lato: 'Lato',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;

$primary-color:#67BB6A;
$primary-color-2:#86C17B;
$primary-color-3:#7F9280;
$primary-color-4:#57745B;
$primary-color-5:#BEB1AC;

$secondary-color:#FEAC00;
$secondary-color-2:#E96B00;

$third-color:#FFE696;